extends Extends/template

block title
        | Барбершоп "Бородинский"

block content
    include ../common.blocks/page-header/page-header
    include ../common.blocks/main-nav/main-nav
    include ../common.blocks/page-main/page-main
    include ../common.blocks/page-footer/page-footer
